.__about {
  width: $w;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  height: 100%;
  .__about_child {
    width: $sw;
    display: $f;
    justify-content: $c;
    align-items: $c;
    flex-direction: $cl;
    background: $rgb;
    padding: $pad;
    color: $wh;
  }
  h3 {
    text-transform: uppercase;
    font-size: 100px;
    color: $wh;
    margin: 0;
    font-family: $fv;
    box-shadow: inset 3.34em 0 0 $fvc;
    font-family: "K2D", sans-serif;
  }
  .__about_child_content {
    padding: $pad;
    width: $w;
  }
}
