.cartitems {
  width: $w;
  @include Column();
  height: $w;
  h1 {
    font-family: "K2D", sans-serif;
  }
  .cartitems_child {
    width: $sw;
    height: $w;
    @include Column();
  }
  .handle_cartinCheckout {
    @include Column();
    width: 80%;
  }
  .__checkoutCart_prod {
    display: $f;
    justify-content: space-between;
    align-items: $c;
    p {
      margin: 0%;
      font-weight: $b;

    }
    img {
      object-fit: $cv;
    }
    .content_prod_checkoutè_cart {
      width: 400px;
      margin-left: 70px;
      display: $f;
    }
  }
}
