.footer__parent {
  @include Column();
  width: $w;
  background: $rgb;
  .handle_footer_social_Media {
    width: $w;
    background: rgb(26, 24, 24);
    @include Column();
    padding: 15px 0 10px 0;
    .social_media_footer {
      display: $f;
      justify-content: $sv;
      align-items: $c;
      width: 40%;
      img {
        object-fit: $cv;
        border-radius: 100%;
      }
    }
  }
  .footer__child {
    padding: $pad;
    width: $sw;
    height: $w;
    font-family: $fv,sans-serif;
    color: $wh;
    display: $f;
    justify-content: $sp;
    align-items: $c;
    ul{
      text-align: left;
      margin: 0%;
      padding: 0%;
      li{
        list-style: $n;
        text-align: left;
        margin-bottom: 10px;
      }
    }
  }
  hr{
    width: 80%;
  }
  p{
    font-weight: $b;
    color: $wh;
  }
}
