.parent_beintouch {
  width: $w;
  height: $w;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  font-family: $fv;
  padding: $pad;
  color: $wh;
  background: $rgb;
  .beintouch_anima {
    width: 200px;
    height: 200px;
    max-height: 300px;
  }
  h1,
  h2 {
    color: $wh;
    font-family: "K2D", sans-serif;
    text-align: $c;
  }
  .child_getintouch {
    display: $f;
    justify-content: $c;
    align-items: $c;
    height: $w;
    width: $sw;
    form {
      width: $w;
      display: $f;
      justify-content: $c;
      align-items: $c;
      position: relative;
      input {
        border-radius: 20px;
        outline: $n;
        border: 2px solid $rgb;
        padding: 10px;
        font-weight: $b;
        width: 450px;
        &::placeholder {
          color: $fvc;
          font-weight: $b;
        }
      }
      button {
        background: $fvc;
        color: $wh;
        cursor: pointer;
        letter-spacing: 2px;
        outline: $n;
        padding: 10px;
        font-weight: $b;
        border: 2px solid $rgb;
        width: 150px;
      }
      .submit_getintouch {
        position: absolute;
        right: -10px;
      }
    }
  }
}
.child__get_g {
  @include Column();
}
