.parent__home_products {
  width: $w;
  height: 100%;
  text-align: $c;
  font-family: $fv;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  padding: $pad;
  color: $rgb;
  h1 {
    font-weight: $b;
    letter-spacing: 2px;
    line-height: 2;
    text-transform: uppercase;
    margin: 0%;
    font-family:"K2D",sans-serif;
  }
  .children__home_products {
    width: $w;
    display: $f;
    justify-content: $c;
    align-items: $c;
    flex-direction: $cl;
    .__home__product_first_three {
      width: $w;
      display: $f;
      justify-content: space-around;
      align-items: $c;
      padding: 20px;
      .child_each_fThree_prod {
        @include Column();
        width: 408px;
        height: 408px;
        background-position: $c;
        background-size: contain;
        background-repeat: no-repeat;
        color: $wh;
        position: relative;
        .handle_content_pro_each {
          width: $w;
          position: absolute;
          bottom: 40px;
          display: $f;
          justify-content: $sv;
          align-items: $c;
          cursor: pointer;
          &:hover h3 {
            transform: scale(1.1);
            cursor: pointer;
          }
          &:hover span {
            transform: scale(1.1);
            cursor: pointer;
          }
          span {
            font-size: 30px;
            position: relative;
            top: 4px;
            transition: transform 400ms ease-out;
          }
          h3 {
            letter-spacing: 2px;
            transition: transform 400ms ease-out;
          }
        }
      }
      .e_same {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/bracelet.jpg");
          background-position: $c;
          background-size: $cv;
          background-repeat: no-repeat;
      }
      .e_sameTwo {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/watch.jpg");
          background-position: $c;
          background-size: $cv;
          background-repeat: no-repeat;
      }
      .e_sameThree {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/lipstick.jpg");
      }
      .e_sameFour {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/shoes.jpg");
          background-size: $cv;
          background-repeat: no-repeat;
      }
      .e_sameFive {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/ring.jpg");
          background-position: $c;
          background-size: $cv;
          background-repeat: no-repeat;
      }
      .e_sameSex {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/robes.jpg");
          background-position: $c;
          background-size: $cv;
          background-repeat: no-repeat;
      }
    }
  }
}
