.parent__home_products {
  width: $w;
  height: 100%;
  text-align: $c;
  font-family: $fv;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  color: $rgb;
  h1 {
    font-weight: $b;
    letter-spacing: 2px;
    line-height: 2;
    text-transform: uppercase;
    margin: 0%;
  }
  .children__home_products {
    width: $w;
    display: $f;
    justify-content: $c;
    align-items: $c;
    flex-direction: $cl;
    .__home__product_first_three {
      width: $w;
      display: $f;
      justify-content: space-around;
      align-items: $c;
      padding: 20px;
      .child_each_fThree_prod {
        @include Column();
        width: 408px;
        height: 408px;
        background-position: $c;
        background-size: contain;
        background-repeat: no-repeat;
        color: $wh;
        position: relative;
        .handle_content_pro_each {
          width: $w;
          position: absolute;
          bottom: 40px;
          display: $f;
          justify-content:$sv;
          align-items: $c;
          cursor: pointer;
          &:hover h3 {
            transform: scale(1.1);
            cursor: pointer;
          }
          &:hover span{
            transform: scale(1.1);
            cursor: pointer;
          }
          span{
            font-size: 30px;
            position: relative;
            top: 4px;
            transition: transform 400ms ease-out;
          }
          h3 {
            letter-spacing: 2px;
            transition: transform 400ms ease-out;
          }
        }
       
      }
      .e_same {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/bracelet.jpg");
      }
      .e_sameTwo {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/watch.jpg");
      }
      .e_sameThree {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
          url("/lipstick.jpg");
      }
    }
  }
  button {
    background: $fvc;
    padding: 7px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    transition: 400ms ease-out;
    width: 300px;
    outline: $n;
    &:hover {
      box-shadow: inset 23em 0 0 $rgb;
      cursor: pointer;
      color: $wh;
    }
  }
}
