.__hero_parent {
  width: $w;
  padding: $pad;
  background: linear-gradient(to right ,$fvc 16%, $fvcl 16%);
  background-position: $c;
  background-size: $cv;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  max-width: 100%;
  .__hero_child {
    display: $f;
    justify-content: $c;
    align-items: $c;
    flex-direction: $cl;
    text-align: $c;
    font-family:$fv, sans-serif;
    height: 100%;
    position: relative;
  }
  h1 {
    font-size: 100px;
    margin: 0;
    color: transparent;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 0.2)
    );
    background-clip: text;
    margin-bottom: 10px;
    font-weight: 600;
    position: relative;
    left: 70px;
  }
  .__hero_btn {
    display: $f;
    justify-content: $c;
    align-items: $c;
    flex-direction: $cl;
    position: absolute;
    left: -16.7%;
    bottom: 150px;
    .image_widthbtn{
      position: relative;
      top: 40px;
      left: -4px;
    }
    img{
      object-fit: contain;
    }
    button {
      background: $fvc;
      padding: 7px;
      color: white;
      font-weight: bold;
      border: 2px solid white;
      transition: 400ms ease-out;
      outline: $n;
      &:hover {
        box-shadow: inset 10.89em 0 0 $rgb;
        cursor: pointer;
        color: $wh;
      }
    }
  }
}
//women section
.__women_parent {
  width: $w;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  padding: 40px 0 40px 0;
  height: 100%;
  margin: 30px 0 30px 0;
  .__women_child {
    width: $sw;
    display: $f;
    justify-content: $sp;
    align-items: $c;
    font-family: $fv;
    p {
      line-height: 2;
    }
    img {
      object-fit: $cv;
    }
    .__women_content {
      position: relative;
    }
    .__women_btn {
      color: $rgb;
      font-weight: $b;
      position: relative;
      left: 7px;
      button {
        background: transparent;
        padding: 7px;
        color: $rgb;
        font-weight: bold;
        border: 2px solid $rgb;
        transition: 400ms ease-out;
        outline: $n;
        width: 250px;
        &:hover {
          box-shadow: inset 10.89em 0 0 $rgb, inset -10em 0 0 $rgb;
          cursor: pointer;
          color: $wh;
        }
      }
    }
    position: relative;
    .women_section_image {
      display: $f;
      justify-content: $c;
      align-items: $c;
      position: relative;
      cursor: pointer;
      img {
        object-fit: $cv;
      }
      .one_section_womenImg {
        position: relative;
        .img_1 {
          position: absolute;
          z-index: 9999;
          top: 120px;
          left: -65px;
          transition: ease-out transform 400ms;
          &:hover{
            transform: scale(1.1);
          }
        }
        .img_4 {
          position: relative;
          left: -150px;
          top: 60px;
          transition: ease-out transform 400ms;
          &:hover{
            transform: scale(1.1);
            z-index: 999999*9;
          }
        }
        .img_2 {
          position: absolute;
          left: -15em;
          transition: ease-out transform 400ms;
          &:hover{
            transform: scale(1.1);
            z-index: 999999*9;
          }
        }
      }
    }
  }
}
@media only screen and (min-width:1800px){
  .__hero_parent {
    width: $w;
    padding: $pad;
    background: linear-gradient(to right ,$fvc 16%, $fvcl 16%);
    background-position: $c;
    background-size: $cv;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: $f;
    justify-content: $c;
    align-items: $c;
    flex-direction: $cl;
    max-width: 100%;
    .__hero_child {
      display: $f;
      justify-content: $c;
      align-items: $c;
      flex-direction: $cl;
      text-align: $c;
      font-family: $fv, sans-serif;
      height:67vh;
      position: relative;
    }
    h1 {
      font-size: 100px;
      margin: 0;
      color: transparent;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 0.2)
      );
      background-clip: text;
      margin-bottom: 10px;
      font-weight: 600;
      position: relative;
    }
    .__hero_btn {
      display: $f;
      justify-content: $c;
      align-items: $c;
      flex-direction: $cl;
      position: absolute;
      left: -38%;
      bottom: 180px;
      .image_widthbtn{
        position: relative;
        top: 40px;
        left: -4px;
      }
      img{
        object-fit: contain;
      }
      button {
        background: $fvc;
        padding: 7px;
        color: white;
        font-weight: bold;
        border: 2px solid white;
        transition: 400ms ease-out;
        outline: $n;
        &:hover {
          box-shadow: inset 10.89em 0 0 $rgb;
          cursor: pointer;
          color: $wh;
        }
      }
    }
  }
}