.__nav_parent {
  width: $w;
  @include Column();
  font-family: "Cera Pro", sans-serif;
  .cart_with_logo{
    width:92%;
    display: $f;
    justify-content: space-between;
    align-items: $c;
    .map_heart{
      display: $f;
      justify-content: $sp;
      align-items: $c;
      .cart{
        margin-right: 40px;
      }
      span{
        font-size: 30px;
      }
    }
  }
  .nav__logo {
    background-image: url("/lineThrough.png");
    background-size: $cv;
    background-repeat: no-repeat;
    img{
      object-fit: contain;
    }
  }
  .__nav_child {
    width: $w;
    display: $f;
    justify-content: $c;
    align-items: $c;
    flex-direction: $cl;
    img {
      max-width: 200px;
      max-height: 100px;
      object-fit: $cv;
    }
    nav {
      width: $w;
      display: $f;
      justify-content: $sp;
      align-items: $c;
      ul {
        width: $sw;
        display: $f;
        justify-content: $sv;
        align-items: $c;
        li {
          list-style: $n;
          font-weight: $b;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: $rgb;
          transition: 700ms ease-out;
          &:hover {
            box-shadow: inset 11em 0 0 -1em $rgb;
            a {
              color: $wh;
            }
          }
        }
      }
      .handle_cart_items {
        color: $wh;
        font-size: 25px;
      }
    }
  }
}
.linka {
  border: 2px solid $rgb;
  padding: 7px;
}
.nav_mobile {
  display: $n;
}
@media only screen and (max-width: 600px) {
  .__nav_parent {
    .__nav_child {
      nav {
        ul {
          display: $n;
        }
      }
    }
  }
  .nav_mobile {
    display: block;
  }
}
