.parent__slider {
  width: $w;
  background: $fvcl;
  .child__slider {
    width: $w;
    img {
      object-fit: $cv;
    }
  }
  
}
.each_slider{
  background-image: url("/brahch.jpg");
  height:400px;
  background-position: top;
  background-size: $cv;
  background-repeat: no-repeat;
 }