@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
$c: center;
$cl: column;
$n: none;
$pad: 20px 0 20px 0;
$h: 100vh;
$w: 100%;
$sw: 80%;
$rgb: rgb(0, 0, 0);
$cv: cover;
$f: flex;
$b: bold;
$wh: white;
$sp: space-around;
$fv: "Montserrat";
$fvc: #ffa500;
$standar: #f6e6f4;
$sv: space-evenly;
$fvcl: #0131c1;
@mixin FlexThem {
  display: $f;
  justify-content: $c;
  align-items: $c;
}
@mixin Column {
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
}
@import "./sub-styles/Home.module.scss";
@import "./sub-styles/navbar.module";
@import "./sub-styles/homeProducts.module";
@import "./sub-styles/whyus.module";
@import "./sub-styles/getintouch.module";
@import "./sub-styles/sliders.module";
@import "./sub-styles/footer.module";
@import "./sub-styles/products.module";
@import "./sub-styles/about.module";
